<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
    <input type="radio" class="btn-check" name="{{name}}" id="{{id}}1" autocomplete="off">
    <label class="btn btn-outline-primary" for="{{id}}1" (click)="setAnswer('try but do not can')">Intentó pero no fue capaz</label>

    <input type="radio" class="btn-check" name="{{name}}" id="{{id}}2" autocomplete="off">
    <label class="btn btn-outline-primary" for="{{id}}2" (click)="setAnswer('need help')">No podía caminar sin ayuda</label>

    <input type="radio" class="btn-check" name="{{name}}" id="{{id}}3" autocomplete="off">
    <label class="btn btn-outline-primary" for="{{id}}3" (click)="setAnswer('do not try for me')">No lo intentó, Ud. se sintió
        inseguro</label>

    <input type="radio" class="btn-check" name="{{name}}" id="{{id}}4" autocomplete="off">
    <label class="btn btn-outline-primary" for="{{id}}4" (click)="setAnswer('does not try for you')">No lo intentó, el participante se
        sintió inseguro</label>

    <input type="radio" class="btn-check" name="{{name}}" id="{{id}}5" autocomplete="off">
    <label class="btn btn-outline-primary" for="{{id}}5" (click)="setAnswer('do not can understand instructions')">No pudo entender las instrucciones
    </label>

    <input type="radio" class="btn-check" name="{{name}}" id="{{id}}6" autocomplete="off">
    <label class="btn btn-outline-primary" for="{{id}}6" (click)="setAnswer('refused')">Se negó</label>

</div>