<div class="row mb-4">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2 col" role="group" aria-label="First group">
            <button type="button" class="btn btn-primary"><i class="bi bi-arrow-left-circle"></i></button>
            <button type="button" class="btn btn-primary">Current</button>
            <button type="button" class="btn btn-primary"><i class="bi bi-arrow-right-circle"></i></button>
        </div>
    </div>
    
</div>