<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
  <input type="radio" class="btn-check" name="rating-{{name}}" id="rating-{{id}}-1" autocomplete="off">
  <label class="btn btn-outline-primary" for="rating-{{id}}-1" (click)="setAnswer(0)">0</label>

  <input type="radio" class="btn-check" name="rating-{{name}}" id="rating-{{id}}-2" autocomplete="off">
  <label class="btn btn-outline-primary" for="rating-{{id}}-2" (click)="setAnswer(1)">1</label>

  <input type="radio" class="btn-check" name="rating-{{name}}" id="rating-{{id}}-3" autocomplete="off">
  <label class="btn btn-outline-primary" for="rating-{{id}}-3" (click)="setAnswer(2)">2</label>

  <input type="radio" class="btn-check" name="rating-{{name}}" id="rating-{{id}}-4" autocomplete="off">
  <label class="btn btn-outline-primary" for="rating-{{id}}-4" (click)="setAnswer(3)">3</label>

  <input type="radio" class="btn-check" name="rating-{{name}}" id="rating-{{id}}-5" autocomplete="off">
  <label class="btn btn-outline-primary" for="rating-{{id}}-5" (click)="setAnswer(4)">4</label>

  <input type="radio" class="btn-check" name="rating-{{name}}" id="rating-{{id}}-6" autocomplete="off">
  <label class="btn btn-outline-primary" for="rating-{{id}}-6" (click)="setAnswer(5)">5</label>

</div>