<div class="container mt-2">
    <div class="row">
        <div class="col">
            <label for="basic-url" class="form-label fw-bold">Estas preguntas se refieren a sus actividades en el último
                mes solamente.</label>
            <label class="mt-2 mb-2"></label>
            <div class="card card-body mb-2">
                <label for="basic-url" class="form-label fw-bold">Durante las últimas 4 semanas (último mes) se ha
                    movido:</label>
                <div class="input-group mb-2">
                    <span class="me-3" id="basic-addon1">¿En otros lugares de la casa, diferentes a la habitación donde
                        duerme?</span>
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio1">Si</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2">No</label>

                    </div>
                </div>
                <div class="input-group mb-2">
                    <span class="me-3" id="basic-addon1">¿Cuántas veces?</span>
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio1">Menos de 1 vez/semana</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2">1-3 veces/semana</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2">4-6 veces/semana</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2">Diario</label>

                    </div>
                </div>
                <div class="input-group mb-2">
                    <span class="me-3" id="basic-addon1">¿Ha usado ayudas o equipo?</span>
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio1">Ayudas de otro</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2">Equipo solamente</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2">Ninguno (ni ayuda personal ni
                            equipo)</label>

                    </div>
                </div>
            </div>
            <div class="card card-body mb-2">
                <label for="basic-url" class="form-label fw-bold">Durante las últimas 4 semanas (último mes) se ha
                    movido:</label>
                <div class="input-group mb-2">
                    <span class="me-3" id="basic-addon1">En su área fuera de su casa como su terraza o patio, el pasillo
                        de su edificio, garaje, en su propio jardín o en la entrada de su casa.</span>
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio1">Si</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2">No</label>

                    </div>
                </div>
                <div class="input-group mb-2">
                    <span class="me-3" id="basic-addon1">¿Cuántas veces?</span>
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio1">Menos de 1 vez/semana</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2">1-3 veces/semana</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2">4-6 veces/semana</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2">Diario</label>

                    </div>
                </div>
                <div class="input-group mb-2">
                    <span class="me-3" id="basic-addon1">¿Ha usado ayudas o equipo?</span>
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio1">Ayudas de otro</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2">Equipo solamente</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2">Ninguno (ni ayuda personal ni
                            equipo)</label>

                    </div>
                </div>
            </div>
            <div class="card card-body mb-2">
                <label for="basic-url" class="form-label fw-bold">En su área fuera de su casa como su terraza o patio,
                    el pasillo de su edificio, garaje, en su propio jardín o en la entrada de su casa.</label>
                <div class="input-group mb-2">
                    <span class="me-3" id="basic-addon1">En sitios de su vecindario que no sean su propio jardín o
                        edificio de apartamentos</span>
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio1">Si</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2">No</label>

                    </div>
                </div>
                <div class="input-group mb-2">
                    <span class="me-3" id="basic-addon1">¿Cuántas veces?</span>
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio1">Menos de 1 vez/semana</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2">1-3 veces/semana</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2">4-6 veces/semana</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2">Diario</label>

                    </div>
                </div>
                <div class="input-group mb-2">
                    <span class="me-3" id="basic-addon1">¿Ha usado ayudas o equipo?</span>
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio1">Ayudas de otro</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2">Equipo solamente</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2">Ninguno (ni ayuda personal ni
                            equipo)</label>

                    </div>
                </div>
            </div>
            <div class="card card-body mb-2">
                <label for="basic-url" class="form-label fw-bold">Durante las últimas 4 semanas (último mes) se ha
                    movido:</label>
                <div class="input-group mb-2">
                    <span class="me-3" id="basic-addon1">Sitios fuera de su vecindario que no sean su propio jardín o
                        edificio de apartamentos</span>
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio1">Si</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2">No</label>

                    </div>
                </div>
                <div class="input-group mb-2">
                    <span class="me-3" id="basic-addon1">¿Cuántas veces?</span>
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio1">Menos de 1 vez/semana</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2">1-3 veces/semana</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2">4-6 veces/semana</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2">Diario</label>

                    </div>
                </div>
                <div class="input-group mb-2">
                    <span class="me-3" id="basic-addon1">¿Ha usado ayudas o equipo?</span>
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio1">Ayudas de otro</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2">Equipo solamente</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2">Ninguno (ni ayuda personal ni
                            equipo)</label>

                    </div>
                </div>
            </div>
            <div class="card card-body mb-2">
                <label for="basic-url" class="form-label fw-bold">Durante las últimas 4 semanas (último mes) se ha
                    movido:</label>
                <div class="input-group mb-2">
                    <span class="me-3" id="basic-addon1">Sitios de fuera de su vecindario (otros barrios), pero dentro
                        de la ciudad.</span>
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio1">Si</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2">No</label>

                    </div>
                </div>
                <div class="input-group mb-2">
                    <span class="me-3" id="basic-addon1">¿Cuántas veces?</span>
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio1">Menos de 1 vez/semana</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2">1-3 veces/semana</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2">4-6 veces/semana</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2">Diario</label>

                    </div>
                </div>
                <div class="input-group mb-2">
                    <span class="me-3" id="basic-addon1">¿Ha usado ayudas o equipo?</span>
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio1">Ayudas de otro</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2">Equipo solamente</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2">Ninguno (ni ayuda personal ni
                            equipo)</label>

                    </div>
                </div>
            </div>
            <div class="card card-body mb-2">
                <label for="basic-url" class="form-label fw-bold">Durante las últimas 4 semanas (último mes) se ha
                    movido:</label>
                <div class="input-group mb-2">
                    <span class="me-3" id="basic-addon1">Sitios de fuera de su ciudad.</span>
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio1">Si</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2">No</label>

                    </div>
                </div>
                <div class="input-group mb-2">
                    <span class="me-3" id="basic-addon1">¿Cuántas veces?</span>
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio1">Menos de 1 vez/semana</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2">1-3 veces/semana</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2">4-6 veces/semana</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2">Diario</label>

                    </div>
                </div>
                <div class="input-group mb-2">
                    <span class="me-3" id="basic-addon1">¿Ha usado ayudas o equipo?</span>
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio1">Ayudas de otro</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2">Equipo solamente</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2">Ninguno (ni ayuda personal ni
                            equipo)</label>

                    </div>
                </div>
            </div>

            <app-paginator></app-paginator>


        </div>
    </div>
</div>