<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
    <input type="radio" class="btn-check" name="{{name}}" id="{{id}}-option-yes" autocomplete="off">
    <label class="btn btn-outline-primary" for="{{id}}-option-yes" (click)="setAnswer('yes')">SI</label>

    <input type="radio" class="btn-check" name="{{name}}" id="{{id}}-option-not" autocomplete="off">
    <label class="btn btn-outline-primary" for="{{id}}-option-not" (click)="setAnswer('not')">NO</label>

</div>
