<div class="container">
    <div class="row">
        <div (click)="averQuePasa()" class="col-md-12">hoal
        </div>
        <div class="col">
            <h5 class="fw-bold  text-center mb-2">COLCIENCIAS</h5>
            <h5 class="fw-bold  text-center mb-2">
                UNIVERSIDAD DE CALDAS – Gerontología y Geriatría
                UNIVERSIDAD NACIONAL DE COLOMBIA SEDE MANIZALES - GAIA
                Programa Nacional de Ciencia, Tecnología e innovación en salud-2016
            </h5>
            <h5 class="fw-bold  text-center mb-2">PROYECTO PILOTO</h5>
            <h5 class="fw-bold  text-center mb-2">
                “Diseño y validación de dispositivos electrónicos E-SPPB para la evaluación de la capacidad funcional en
                adultos
                mayores del Departamento de Caldas”
            </h5>
            <h6 class="text-center">INSTRUMENTO DE RECOLECCIÓN DE INFORMACIÓN </h6>

            <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1">No Formulario:</span>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                    aria-describedby="basic-addon1" value="Automático" disabled>
            </div>
            <label for="basic-url" class="form-label fw-bold">EVALUADOR</label>
            <div class="input-group mb-2">

                <span class="input-group-text" id="basic-addon1">No. Identificación </span>
                <input type="text" class="form-control" placeholder="Busqueda" aria-label="Username"
                    aria-describedby="basic-addon1" (keyup)="searchEvaluator($event)" [id]="currentEvaluator.id">
                <input type="text" class="form-control" placeholder="Número de identificación" aria-label="Username"
                    aria-describedby="basic-addon1" [(ngModel)]="currentEvaluator.document" disabled>
                <input type="text" class="form-control" placeholder="Nombre" aria-label="Username"
                    aria-describedby="basic-addon1" [(ngModel)]="currentEvaluator.name" disabled>


            </div>
            <div class="card card-body mb-2 maxContent" *ngIf="searchingEvaluator">
                <button class="btn btn-outline-primary btn-sm d-flex justify-content-center mb-2"
                    *ngFor="let evaluator of evaluators" (click)="setEvaluator(evaluator)"><i
                        class="bi bi-person-check-fill"></i>
                    {{evaluator.document}} | {{evaluator.name}}</button>

            </div>
            <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1">FECHA EVALUACIÓN</span>
                <input type="date" class="form-control" placeholder="Username" aria-label="Username"
                    aria-describedby="basic-addon1" disabled value="{{currentDate}}">
            </div>
            <label for="basic-url" class="form-label fw-bold">PARTICIPANTE</label>
            <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1">Documento</span>
                <input type="text" class="form-control" placeholder="Documento" aria-label="firstName"
                    aria-describedby="basic-addon1" [(ngModel)]="participant.document" (keyup)="searchPatient($event)">
            </div>
            <div class="card card-body mb-2 maxContent" *ngIf="searchingPatient">
                <button class="btn btn-outline-primary btn-sm d-flex justify-content-center mb-2"
                    *ngFor="let patient of patients" (click)="setPatient(patient)"><i
                        class="bi bi-person-check-fill"></i>
                    {{patient.document}} | {{patient.name}}</button>

            </div>
            <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1">Nombre completo</span>
                <input type="text" class="form-control" placeholder="Nombre completo" aria-label="firstName"
                    aria-describedby="basic-addon1" [(ngModel)]="participant.name">
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1">Dirección completa</span>
                <input type="text" class="form-control" placeholder="Dirección" aria-label="address"
                    aria-describedby="basic-addon1" [(ngModel)]="participant.address">
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1">email</span>
                <input type="text" class="form-control" placeholder="Correo Electrónico" aria-label="address"
                    aria-describedby="basic-addon1" [(ngModel)]="participant.email">
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1">Subregión Caldas</span>
                <input type="text" class="form-control" placeholder="Subregión" aria-label="address"
                    aria-describedby="basic-addon1" [(ngModel)]="participant.subRegion">
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1">Municipio</span>
                <input type="text" class="form-control" placeholder="Municipio" aria-label="address"
                    aria-describedby="basic-addon1" [(ngModel)]="participant.municipality">
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1">Zona</span>
                <input type="text" class="form-control" placeholder="Zona" aria-label="address"
                    aria-describedby="basic-addon1" [(ngModel)]="participant.zone">
            </div>
            <div class="input-group mb-2">
                <div class="row">
                    <div class="col-10">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1">Lugar de residencia</span>
                            <input type="text" class="form-control" placeholder="Lugar de residencia"
                                aria-label="address" aria-describedby="basic-addon1"
                                [(ngModel)]="participant.placeOfResident">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck"
                                [(ngModel)]="participant.isUrban">
                            <label class="form-check-label" for="gridCheck">
                                Urbana
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1">Teléfonos</span>
                <input type="text" class="form-control" placeholder="Telefonos" aria-label="address"
                    aria-describedby="basic-addon1" [(ngModel)]="participant.phone">
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1">Celular</span>
                <input type="text" class="form-control" placeholder="Celular" aria-label="address"
                    aria-describedby="basic-addon1" [(ngModel)]="participant.celPhone">
            </div>
            <label for="basic-url" class="form-label fw-bold">ACOMPAÑANTE</label>
            <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1">Documento</span>
                <input type="text" class="form-control" placeholder="Documento" aria-label="firstName"
                    aria-describedby="basic-addon1" [(ngModel)]="companion.document">
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1">Nombre completo</span>
                <input type="text" class="form-control" placeholder="Nombre completo" aria-label="firstName"
                    aria-describedby="basic-addon1" [(ngModel)]="companion.name">
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1">Parentesco</span>
                <input type="text" class="form-control" placeholder="Parentesco" aria-label="firstName"
                    aria-describedby="basic-addon1" [(ngModel)]="companion.relationship">
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1">Dirección completa</span>
                <input type="text" class="form-control" placeholder="Dirección" aria-label="address"
                    aria-describedby="basic-addon1" [(ngModel)]="companion.address">
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1">Teléfonos</span>
                <input type="text" class="form-control" placeholder="Telefonos" aria-label="address"
                    aria-describedby="basic-addon1" [(ngModel)]="companion.phone">
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1">Celular</span>
                <input type="text" class="form-control" placeholder="Celular" aria-label="address"
                    aria-describedby="basic-addon1" [(ngModel)]="companion.celPhone">
            </div>
            <label for="basic-url" class="form-label fw-bold">CENTRO MÉDICO</label>
            <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1">Nombre</span>
                <input type="text" class="form-control" placeholder="Nombre" aria-label="firstName"
                    aria-describedby="basic-addon1" [(ngModel)]="medicalCenter.medical_center_name">
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1">Departamento</span>
                <input type="text" class="form-control" placeholder="Departamento" aria-label="firstName"
                    aria-describedby="basic-addon1" [(ngModel)]="medicalCenter.medical_center_state">
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1">Ciudad</span>
                <input type="text" class="form-control" placeholder="Ciudad" aria-label="firstName"
                    aria-describedby="basic-addon1" [(ngModel)]="medicalCenter.medical_center_city">
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1">Dirección</span>
                <input type="text" class="form-control" placeholder="Dirección" aria-label="firstName"
                    aria-describedby="basic-addon1" [(ngModel)]="medicalCenter.medical_center_address">
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1">Latitud</span>
                <input type="text" class="form-control" placeholder="Latitud" aria-label="firstName"
                    aria-describedby="basic-addon1" [(ngModel)]="medicalCenter.lat">
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1">Longitud</span>
                <input type="text" class="form-control" placeholder="Longitud" aria-label="firstName"
                    aria-describedby="basic-addon1" [(ngModel)]="medicalCenter.long">
            </div>
            <!--paginador -->
            <app-paginator></app-paginator>
        </div>
    </div>
</div>