<div class="container">
    <div class="row">
        <div class="col">
            <h5 class="fw-bold  text-center mb-2">COLCIENCIAS</h5>
            <h5 class="fw-bold  text-center mb-2">
                UNIVERSIDAD DE CALDAS – Gerontología y Geriatría
                UNIVERSIDAD NACIONAL DE COLOMBIA SEDE MANIZALES - GAIA
                Programa Nacional de Ciencia, Tecnología e innovación en salud-2016
            </h5>
            <h5 class="fw-bold  text-center mb-2">PROYECTO PILOTO</h5>
            <h5 class="fw-bold  text-center mb-2">
                “Diseño y validación de dispositivos electrónicos E-SPPB para la evaluación de la capacidad funcional en
                adultos
                mayores del Departamento de Caldas”
            </h5>
            <h6 class="text-center">INSTRUMENTO DE RECOLECCIÓN DE INFORMACIÓN </h6>

            <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1">No Formulario:</span>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                    aria-describedby="basic-addon1" value="Automático" disabled>
            </div>
            <label for="basic-url" class="form-label fw-bold">EVALUADOR</label>
            <div class="input-group mb-2">

                <span class="input-group-text" id="basic-addon1">No. Identificación </span>
                <input type="text" class="form-control" placeholder="Busqueda" aria-label="Username"
                    aria-describedby="basic-addon1" (keyup)="searchEvaluator($event)" [id]="currentEvaluator.id">
                <input type="text" class="form-control" placeholder="Número de identificación" aria-label="Username"
                    aria-describedby="basic-addon1" [(ngModel)]="currentEvaluator.document" disabled>
                <input type="text" class="form-control" placeholder="Nombre" aria-label="Username"
                    aria-describedby="basic-addon1" [(ngModel)]="currentEvaluator.name" disabled>


            </div>
            <div class="card card-body mb-2"  *ngIf="searching">
                    <button class="btn btn-outline-primary btn-sm d-flex justify-content-center mb-2"  *ngFor="let evaluator of evaluators"
                        (click)="setEvaluator(evaluator)"><i class="bi bi-person-check-fill"></i>
                        {{evaluator.document}} | {{evaluator.name}}</button>
                
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1">FECHA EVALUACIÓN</span>
                <input type="date" class="form-control" placeholder="Username" aria-label="Username"
                    aria-describedby="basic-addon1" disabled value="{{currentDate}}">
            </div>
            <label for="basic-url" class="form-label fw-bold">PARTICIPANTE</label>
            <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1">Apellidos</span>
                <input type="text" class="form-control" placeholder="Apellidos" aria-label="lastName"
                    aria-describedby="basic-addon1" [(ngModel)]="participant.lastName">
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1">Nombres</span>
                <input type="text" class="form-control" placeholder="Nombres" aria-label="firstName"
                    aria-describedby="basic-addon1" [(ngModel)]="participant.name">
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1">Documento</span>
                <input type="text" class="form-control" placeholder="Documento" aria-label="firstName"
                    aria-describedby="basic-addon1" [(ngModel)]="participant.document">
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1">Dirección completa</span>
                <input type="text" class="form-control" placeholder="Dirección" aria-label="address"
                    aria-describedby="basic-addon1" [(ngModel)]="participant.address">
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1">Subregión Caldas</span>
                <input type="text" class="form-control" placeholder="Subregión" aria-label="address"
                    aria-describedby="basic-addon1" [(ngModel)]="participant.subRegion">
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1">Municipio</span>
                <input type="text" class="form-control" placeholder="Municipio" aria-label="address"
                    aria-describedby="basic-addon1" [(ngModel)]="participant.municipality">
            </div>
            <div class="input-group mb-2">
                <div class="row">
                    <div class="col-10">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1">Lugar de residencia</span>
                            <input type="text" class="form-control" placeholder="Lugar de residencia"
                                aria-label="address" aria-describedby="basic-addon1"
                                [(ngModel)]="participant.placeOfResident">
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck" [(ngModel)]="participant.isUrban">
                                Urbana
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1">Teléfonos</span>
                <input type="text" class="form-control" placeholder="Telefonos" aria-label="address"
                    aria-describedby="basic-addon1" [(ngModel)]="participant.phone">
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1">Celular</span>
                <input type="text" class="form-control" placeholder="Celular" aria-label="address"
                    aria-describedby="basic-addon1" [(ngModel)]="participant.celPhone">
            </div>
            <label for="basic-url" class="form-label fw-bold">ACOMPAÑANTE</label>
            <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1">Apellidos</span>
                <input type="text" class="form-control" placeholder="Apellidos" aria-label="lastName"
                    aria-describedby="basic-addon1" [(ngModel)]="companion.lastName">
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1">Nombres</span>
                <input type="text" class="form-control" placeholder="Nombres" aria-label="firstName"
                    aria-describedby="basic-addon1" [(ngModel)]="companion.name">
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1">Documento</span>
                <input type="text" class="form-control" placeholder="Documento" aria-label="firstName"
                    aria-describedby="basic-addon1" [(ngModel)]="companion.document">
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1">Dirección completa</span>
                <input type="text" class="form-control" placeholder="Dirección" aria-label="address"
                    aria-describedby="basic-addon1" [(ngModel)]="companion.address">
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1">Teléfonos</span>
                <input type="text" class="form-control" placeholder="Telefonos" aria-label="address"
                    aria-describedby="basic-addon1" [(ngModel)]="companion.phone">
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1">Celular</span>
                <input type="text" class="form-control" placeholder="Celular" aria-label="address"
                    aria-describedby="basic-addon1" [(ngModel)]="companion.celPhone">
            </div>
            <!--paginador -->
            <app-paginator></app-paginator>
        </div>
    </div>
</div>