<div class="container mt-2">
    <div class="row">
        <div class="col">
            <label for="basic-url" class="form-label fw-bold">Tabaco</label>
            <div class="input-group mb-2">

                <span class="me-3" id="basic-addon1">Consume cigarrillos </span>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio1">Si</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">No</label>

                </div>
            </div>
            <div class="input-group mb-2">

                <span class="input-group-text" id="basic-addon1">Paquetes/año (número de cigarrillos por día en el
                    último mes) _____</span>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                    aria-describedby="basic-addon1" value="10584815">
            </div>
            <label for="basic-url" class="form-label fw-bold">Alcohol</label>
            <div class="input-group mb-2">

                <span class="me-3" id="basic-addon1">Consumió alcohol en el último mes</span>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio1">Si</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">No</label>

                </div>
            </div>
            <div class="input-group mb-2">

                <span class="me-3" id="basic-addon1">Menos de 5 tragos en la misma ocasión una vez en el
                    último mes </span>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio1">Si</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">No</label>

                </div>
            </div>
            <div class="input-group mb-2">

                <span class="me-3" id="basic-addon1">Mas de cinco tragos en la misma ocasión al menos una
                    vez en el último mes </span>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio1">Si</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">No</label>

                </div>
            </div>
            <div class="input-group mb-2">

                <span class="me-3" id="basic-addon1">5 tragos o más en la misma ocasión por 5 o más días en
                    el último mes </span>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio1">Si</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">No</label>

                </div>
            </div>

            <app-paginator></app-paginator>




        </div>
    </div>
</div>