<div class="container mt-2">
    <div class="row">
        <div class="col">
            <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1">Fecha de nacimiento del anciano</span>
                <input type="Date" class="form-control" placeholder="Fecha de nacimiento" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1">Edad</span>
                <input type="text" class="form-control" placeholder="Edad" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text me-1" id="basic-addon1">Sexo</span>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" >
                    <label class="btn btn-outline-primary" for="btnradio1">Masculino</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">Femenino</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio3">No Binario</label>
                </div>
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1">Ocupación</span>
                <input type="text" class="form-control" placeholder="Principal" aria-label="Username"
                    aria-describedby="basic-addon1">
                <input type="text" class="form-control" placeholder="Actual" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1">¿Cuál es el nombre de EPS?</span>
                <input type="text" class="form-control" placeholder="EPS" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text me-1" id="basic-addon1">¿Cuál es el tipo de afiliación al Sistema de seguridad social?</span>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" >
                    <label class="btn btn-outline-primary" for="btnradio1">Subsidiado </label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">Contributivo</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio3">Vinculado </label>
                </div>
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text me-1" id="basic-addon1">¿Cuál es su estado civil?</span>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio1">Soltero  </label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">Casado/Unión libre</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio3">Viudo (a)  </label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio4">Separado/Divorciado </label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio5">Religioso </label>
                    
                </div>
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text me-1" id="basic-addon1">Convivientes</span>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio1">Vive solo  </label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">Vive con otros</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio3">Larga estancia Hogar - residencia</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio4">Otro </label>
                    
                </div>
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1">¿Cuántos años de educación completa tuvo usted?</span>
                <input type="text" class="form-control" placeholder="Edad" aria-label="Username"
                aria-describedby="basic-addon1">
                <span class="input-group-text" id="basic-addon1">años</span>
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text me-1" id="basic-addon1">¿Cuál fue el mas alto nivel educativo que tuvo?  </span>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio1">Analfabeta  </label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">Solamente aprendió a leer y escribir</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio3">Primaria incompleta</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio4">Primaria completa  </label>
                    
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio4">Secundaria incompleta  </label>
                    
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio4">Secundaria completa</label>
                    
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio4">Universidad o equivalente  </label>
                    
                </div>
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text me-1" id="basic-addon1">¿Depende económicamente de su familia?</span>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio1">Si  </label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">No</label>

                    
                </div>
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text me-1" id="basic-addon1">¿De dónde provienen sus ingresos actuales?</span>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio1">Trabajo actual  </label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">Retiro o pensión</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio3">Ayuda de familiares (Extranjero)</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio4">Ayuda de familiares (Colombia)  </label>
                    
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio4">Rentas</label>
                    
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio4">Subsidios de gobierno</label>
                    
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio4">Otro</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio4">No recibe ingresos</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio4">No sabe</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio4">No responde</label>

                </div>
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text me-1" id="basic-addon1">¿Cuál es su Ingreso mensual? (en salarios mínimos 737.717) </span>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio1">Menos de uno  </label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">Uno</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio3">Entre uno y tres</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio4">Más de tres</label>
                    
                </div>
            </div>

            <div class="input-group mb-2">
                <span class="input-group-text me-1" id="basic-addon1">¿Cuál es su Estrato de la residencia Urbana?</span>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio1">1</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">2</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio3">3</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio4">4</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio5">5</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio6" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio6">6</label>
                    
                </div>
            </div>

            <app-paginator></app-paginator>


        </div>
    </div>
</div>