<div class="container mt-2">
    <div class="row">
        <div class="col">
            <label for="basic-url" class="form-label fw-bold">ALCANCE FUNCIONAL </label>
            <div class="input-group mb-2">

                <span class="input-group-text" id="basic-addon1">Primer intento</span>

                <input type="text" class="form-control" placeholder="Distancia Inicial Cm" aria-label="address"
                    aria-describedby="basic-addon1">
                <input type="text" class="form-control" placeholder="Distancia Final Cm" aria-label="address"
                    aria-describedby="basic-addon1">
                <input type="text" class="form-control" placeholder="Total distancia recorrida" aria-label="address"
                    aria-describedby="basic-addon1" disabled>
            </div>
            <div class="input-group mb-2">

                <span class="input-group-text" id="basic-addon1">Segundo intento</span>

                <input type="text" class="form-control" placeholder="Distancia Inicial Cm" aria-label="address"
                    aria-describedby="basic-addon1">
                <input type="text" class="form-control" placeholder="Distancia Final Cm" aria-label="address"
                    aria-describedby="basic-addon1">
                <input type="text" class="form-control" placeholder="Total distancia recorrida" aria-label="address"
                    aria-describedby="basic-addon1" disabled>
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1">Mayor distancia recorrida </span>
                <input type="text" class="form-control" placeholder="Distancia Inicial Cm" aria-label="address"
                    aria-describedby="basic-addon1" disabled>
                <span class="input-group-text" id="basic-addon1">cm </span>
            </div>
            <label for="basic-url" class="form-label fw-bold">SPPB
                Puntaje de la prueba de equilibrio:
            </label>
            <label class="mt-2 mb-2"></label>
            <div class="card card-body mb-2">
                <div class="input-group mb-2">
                    <span class="me-3" id="basic-addon1">Un pie al lado del otro</span>
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio1">Mantiene 10 seg</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2">No mantiene 10 seg</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2">No lo intenta</label>

                    </div>
                </div>
                <div class="input-group mb-2 mt-2">

                    <span class="input-group-text" id="basic-addon1">Número de segundos que mantuvo la posoción si es
                        &lt;
                        10 seg</span>
                    <input type="text" class="form-control" placeholder="#" aria-label="Username"
                        aria-describedby="basic-addon1" value="7">
                </div>
                <span class="me-3" id="basic-addon1">Si el participante no intentó la prueba o falló, señale
                    porqué:</span>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio1">Intentó pero no fue capaz </label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">No puede mantener la posición sin
                        ayuda</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">No lo intentó, Ud. se sintió inseguro
                    </label>

                </div>

            </div>
            <label for="basic-url" class="form-label fw-bold">Si no obtiene ningún punto: señale la razón por la cual no
                completó el test, finalice la prueba de equilibrio y pase al test de la marcha
            </label>
            <div class="card card-body mb-2">
                <div class="input-group mb-2">
                    <span class="me-3" id="basic-addon1">Posición semitamdem</span>
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio1">Mantiene 10 seg</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2">No mantiene 10 seg</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2">No lo intenta</label>

                    </div>
                </div>
                <div class="input-group mb-2 mt-2">

                    <span class="input-group-text" id="basic-addon1">Número de segundos que mantuvo la posoción si es
                        &lt; 10
                        seg</span>
                    <input type="text" class="form-control" placeholder="#" aria-label="Username"
                        aria-describedby="basic-addon1" value="6">
                </div>
            </div>
            <label for="basic-url" class="form-label fw-bold">Si no obtiene ningún punto: señale la razón por la cual no
                completó el test, finalice la prueba de equilibrio y pase a la prueba de la marcha
            </label>
            <div class="card card-body mb-2">
                <div class="input-group mb-2">
                    <span class="me-3" id="basic-addon1">Posición tamdem</span>
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio1">Mantiene 10 seg</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2">Mantiene de 3 a 9.99 seg</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2">Mantiene &lt; 3 seg</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2">No lo intenta</label>

                    </div>
                </div>
                <div class="input-group mb-2 mt-2">

                    <span class="input-group-text" id="basic-addon1">Número de segundos que mantuvo la posoción si es
                        &lt; 10
                        seg</span>
                    <input type="text" class="form-control" placeholder="#" aria-label="Username"
                        aria-describedby="basic-addon1" value="9">
                </div>
            </div>
            <div class="input-group mb-2">

                <span class="input-group-text" id="basic-addon1">Puntaje total prueba de equilibrio </span>
                <input type="text" class="form-control" placeholder="#" aria-label="Username"
                    aria-describedby="basic-addon1" value="20" disabled>
            </div>
            <label for="basic-url" class="form-label fw-bold">Puntaje de la prueba de velocidad de la marcha:
            </label>
            <label class="mt-2 mb-2"></label>
            <label for="basic-url" class="form-label fw-bold">Distancia prueba 4 metros
            </label>
            <div class="card card-body mb-2">
                <label for="basic-url" class="form-label fw-bold">A. Primera prueba
                </label>
                <div class="input-group mb-2">

                    <span class="input-group-text" id="basic-addon1">1. Tiempo para caminar 4 metros</span>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                        aria-describedby="basic-addon1" value="25">
                    <span class="input-group-text" id="basic-addon1">seg</span>
                </div>
                <div class="card card-body mb-2">
                    <div class="input-group mb-2">
                        <span class="me-3" id="basic-addon1">2. Si el participante no intentó la prueba o no la
                            completó, señale por qué</span>
                        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                            <label class="btn btn-outline-primary" for="btnradio1">Intentó pero no fue capaz</label>

                            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                            <label class="btn btn-outline-primary" for="btnradio2">No podía caminar sin ayuda</label>

                            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                            <label class="btn btn-outline-primary" for="btnradio2">No lo intentó, Ud. se sintió
                                inseguro</label>

                            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                            <label class="btn btn-outline-primary" for="btnradio2">No lo intentó, el participante se
                                sintió inseguro</label>

                            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                            <label class="btn btn-outline-primary" for="btnradio2">No pudo entender las instrucciones
                            </label>

                            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                            <label class="btn btn-outline-primary" for="btnradio2">Se negó</label>

                        </div>
                    </div>
                    <div class="input-group mb-2">

                        <span class="input-group-text" id="basic-addon1">otro</span>
                        <input type="text" class="form-control" placeholder="Cual.." aria-label="Username"
                            aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            <label for="basic-url" class="form-label fw-bold">Complete la hoja de puntajes y pase a la prueba de
                incorporarse de una silla
            </label>
            <div class="input-group mb-2">
                <span class="me-3" id="basic-addon1">3. Ayuda para caminar primera prueba </span>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio1">Ninguna</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">Bastón</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">Otra</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">El adulto mayor fue incapaz para
                        caminar</label>

                </div>
            </div>
            <div class="card card-body mb-2">
                <label for="basic-url" class="form-label fw-bold">B. Segunda prueba
                </label>
                <div class="input-group mb-2">

                    <span class="input-group-text" id="basic-addon1">1. Tiempo para caminar 4 metros</span>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                        aria-describedby="basic-addon1" value="25">
                    <span class="input-group-text" id="basic-addon1">seg</span>
                </div>
                <div class="card card-body mb-2">
                    <div class="input-group mb-2">
                        <span class="me-3" id="basic-addon1">2. Si el participante no intentó la prueba o no la
                            completó, señale por qué</span>
                        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                            <label class="btn btn-outline-primary" for="btnradio1">Intentó pero no fue capaz</label>

                            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                            <label class="btn btn-outline-primary" for="btnradio2">No podía caminar sin ayuda</label>

                            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                            <label class="btn btn-outline-primary" for="btnradio2">No lo intentó, Ud. se sintió
                                inseguro</label>

                            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                            <label class="btn btn-outline-primary" for="btnradio2">No lo intentó, el participante se
                                sintió inseguro</label>

                            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                            <label class="btn btn-outline-primary" for="btnradio2">No pudo entender las instrucciones
                            </label>

                            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                            <label class="btn btn-outline-primary" for="btnradio2">Se negó</label>

                        </div>
                    </div>
                    <div class="input-group mb-2">

                        <span class="input-group-text" id="basic-addon1">otro</span>
                        <input type="text" class="form-control" placeholder="Cual.." aria-label="Username"
                            aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            <label for="basic-url" class="form-label fw-bold">Complete la hoja de puntajes y pase a la prueba de
                incorporarse de una silla
            </label>
            <div class="input-group mb-2">
                <span class="me-3" id="basic-addon1">3. Ayuda para caminar primera prueba </span>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio1">Ninguna</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">Bastón</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">Otra</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">El adulto mayor fue incapaz para
                        caminar</label>

                </div>
            </div>
            <div class="input-group mb-2">

                <span class="input-group-text" id="basic-addon1">Menor Tiempo</span>
                <input type="text" class="form-control" placeholder="5.3" aria-label="Username"
                    aria-describedby="basic-addon1">
                <span class="input-group-text" id="basic-addon1">seg</span>
            </div>
            <label for="basic-url" class="form-label fw-bold">Puntaje de Prueba incorporarse de una silla
            </label>
            <label class="mt-2 mb-2"></label>
            <label for="basic-url" class="form-label fw-bold">Incorporarse de una vez
            </label>
            <div class="input-group mb-2">
                <span class="me-3" id="basic-addon1">A. Seguro de pie sin ayuda </span>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio1">Si</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">No</label>

                </div>
            </div>
            <div class="input-group mb-2">
                <span class="me-3" id="basic-addon1">B. Resultados </span>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio1">No utiliza los brazos </label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">Utiliza los brazos </label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">No completo la prueba </label>

                </div>

                <div class="card card-body mb-2">
                    <div class="input-group mb-2">
                        <span class="me-3" id="basic-addon1">2. Si el participante no intentó la prueba o no la
                            completó, señale por qué</span>
                        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                            <label class="btn btn-outline-primary" for="btnradio1">Intentó pero no fue capaz</label>

                            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                            <label class="btn btn-outline-primary" for="btnradio2">No podía caminar sin ayuda</label>

                            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                            <label class="btn btn-outline-primary" for="btnradio2">No lo intentó, Ud. se sintió
                                inseguro</label>

                            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                            <label class="btn btn-outline-primary" for="btnradio2">No lo intentó, el participante se
                                sintió inseguro</label>

                            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                            <label class="btn btn-outline-primary" for="btnradio2">No pudo entender las instrucciones
                            </label>

                            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                            <label class="btn btn-outline-primary" for="btnradio2">Se negó</label>

                        </div>
                    </div>
                    <div class="input-group mb-2">

                        <span class="input-group-text" id="basic-addon1">otro</span>
                        <input type="text" class="form-control" placeholder="Cual.." aria-label="Username"
                            aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="card card-body mb-2">
                    <label for="basic-url" class="form-label fw-bold">Incorporarse de forma repetida
                    </label>
                    <div class="input-group mb-2">
                        <span class="me-3" id="basic-addon1">A. Seguro para incorporarse 5 veces </span>
                        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                            <label class="btn btn-outline-primary" for="btnradio1">Si</label>

                            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                            <label class="btn btn-outline-primary" for="btnradio2">No</label>

                        </div>
                    </div>
                    <label for="basic-url" class="form-label fw-bold">B. Si completo la prueba registre el tiempo:
                    </label>
                    <div class="input-group mb-2">
                        <span class="input-group-text" id="basic-addon1">Tiempo para incorporarse 5 veces</span>
                        <input type="text" class="form-control" placeholder="5.4" aria-label="Username"
                            aria-describedby="basic-addon1">
                        <span class="input-group-text" id="basic-addon1">seg</span>
                    </div>
                    <div class="input-group mb-2">
                        <span class="me-3" id="basic-addon1">2. Si el participante no intentó la prueba o no la
                            completó, señale por qué</span>
                        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                            <label class="btn btn-outline-primary" for="btnradio1">Intentó pero no fue capaz</label>

                            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                            <label class="btn btn-outline-primary" for="btnradio2">No podía caminar sin ayuda</label>

                            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                            <label class="btn btn-outline-primary" for="btnradio2">No lo intentó, Ud. se sintió
                                inseguro</label>

                            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                            <label class="btn btn-outline-primary" for="btnradio2">No lo intentó, el participante se
                                sintió inseguro</label>

                            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                            <label class="btn btn-outline-primary" for="btnradio2">No pudo entender las instrucciones
                            </label>

                            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                            <label class="btn btn-outline-primary" for="btnradio2">Se negó</label>

                        </div>
                    </div>
                </div>
                <div class="input-group mb-2">
                    <span class="me-3" id="basic-addon1">PUNTAJE DE INCORPORARSE DE UNA SILLA</span>
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio1">Incapaz de completar 5 o lo completa en
                            >60 seg </label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2">16,70 seg o más</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2">13,70 a 16,69 seg </label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2">11,20 a 13,69 seg </label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2">11,19 seg o menos
                        </label>

                    </div>
                </div>
                <label for="basic-url" class="form-label fw-bold">PUNTAJE TOTAL SPPB
                </label>
                <div class="input-group mb-2">

                    <span class="input-group-text" id="basic-addon1">Equilibrio de pie</span>
                    <input type="text" class="form-control" placeholder="" aria-label="Username"
                        aria-describedby="basic-addon1">
                    <span class="input-group-text" id="basic-addon1">Puntos</span>
                </div>
                <div class="input-group mb-2">

                    <span class="input-group-text" id="basic-addon1">Velocidad de la marcha</span>
                    <input type="text" class="form-control" placeholder="" aria-label="Username"
                        aria-describedby="basic-addon1">
                    <span class="input-group-text" id="basic-addon1">Puntos</span>
                </div>
                <div class="input-group mb-2">

                    <span class="input-group-text" id="basic-addon1">Incorporarse de una silla</span>
                    <input type="text" class="form-control" placeholder="" aria-label="Username"
                        aria-describedby="basic-addon1">
                    <span class="input-group-text" id="basic-addon1">Puntos</span>
                </div>
                <div class="input-group mb-2">

                    <span class="input-group-text" id="basic-addon1">Total</span>
                    <input type="text" class="form-control" placeholder="25" aria-label="Username"
                        aria-describedby="basic-addon1">
                    <span class="input-group-text" id="basic-addon1">Puntos</span>
                </div>


            </div>


            <app-paginator></app-paginator>
        </div>
    </div>
</div>