<div class="container mt-2">
    <div class="row">
        <div class="col">
            <div class="input-group mb-2">
                <span class="me-1 mt-2" id="basic-addon1">¿Diría usted que su salud es muy buena, buena,
                    regular, mala o muy mala?</span>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio1">Muy buena</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">Buena</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio3">Regular</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio4">Mala</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio5">Muy mala</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio6" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio6">No sabe</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio7" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio7">No responde</label>

                </div>
            </div>
            <div class="input-group mb-2">
                <span class="me-1 mt-2" id="basic-addon1">¿Ha perdido 5kg (10 lbs) o más de manera
                    involuntaria en los últimos 12 meses?</span>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio1">SI</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">NO</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio3">No sabe</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio4">No responde</label>

                </div>
            </div>
            <div class="input-group mb-2">
                <span class="me-1 mt-2" id="basic-addon1">¿Alguna vez un médico o enfermera le dijo que
                    tiene hipertensión o la presión sanguínea alta?</span>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio1">SI</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">NO</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio3">No sabe</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio4">No responde</label>

                </div>
            </div>
            <div class="input-group mb-2">
                <span class="me-1 mt-2" id="basic-addon1">¿Alguna vez un médico o enfermera le ha dicho que
                    tiene diabetes o altos niveles de azúcar en la sangre?</span>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio1">SI</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">NO</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio3">No sabe</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio4">No responde</label>

                </div>
            </div>
            <div class="input-group mb-2">
                <span class="me-1 mt-2" id="basic-addon1">¿Alguna vez un médico o enfermera le dijo que
                    tiene cáncer o un tumor maligno, excluyendo tumores pequeños de la piel?</span>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio1">SI</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">NO</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio3">No sabe</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio4">No responde</label>

                </div>
            </div>
            <div class="input-group mb-2">
                <span class="me-1 mt-2" id="basic-addon1">¿Alguna vez un médico o enfermera le dijo que
                    tiene alguna enfermedad pulmonar crónica tal como asma, bronquitis o enfisema?</span>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio1">SI</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">NO</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio3">No sabe</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio4">No responde</label>

                </div>
            </div>
            <div class="input-group mb-2">
                <span class="me-1 mt-2" id="basic-addon1">¿Alguna vez un médico o enfermera le dijo que ha
                    tenido un ataque al corazón, enfermedad coronaria, angina, insuficiencia cardiaca congestiva u otros
                    problemas del corazón?</span>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio1">SI</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">NO</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio3">No sabe</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio4">No responde</label>

                </div>
            </div>
            <div class="input-group mb-2">
                <span class="me-1 mt-2" id="basic-addon1">¿Alguna vez un médico o enfermera le dijo que ha
                    tenido un derrame, una embolia, un ataque o trombosis cerebral?</span>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio1">SI</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">NO</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio3">No sabe</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio4">No responde</label>

                </div>
            </div>
            <div class="input-group mb-2">
                <span class="me-1 mt-2" id="basic-addon1">¿Alguna vez un médico o enfermera le dijo que
                    tiene artritis, reumatismo u osteoartritis?</span>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio1">SI</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">NO</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio3">No sabe</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio4">No responde</label>

                </div>
            </div>
            <div class="input-group mb-2">
                <span class="me-1 mt-2" id="basic-addon1">¿Alguna vez un médico o enfermera le dijo que
                    tiene osteoporosis?</span>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio1">SI</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">NO</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio3">No sabe</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio4">No responde</label>

                </div>
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1">Cuál es el número de medicamentos o drogas recetados
                    por un médico, que ha tomado el último mes </span>
                <input type="text" class="form-control" placeholder="#" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1">Nombre del medicamento</span>
                <input type="text" class="form-control" placeholder="Nombre del medicamento" aria-label="Username"
                    aria-describedby="basic-addon1">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Descripción..."></textarea>
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1">Cuál es el número de medicamentos o drogas, no
                    recetados por un médico que ha tomado el último mes</span>
                <input type="text" class="form-control" placeholder="#" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1">Nombre del medicamento</span>
                <input type="text" class="form-control" placeholder="Nombre" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1">Talla</span>
                <input type="text" class="form-control" placeholder="Talla" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1">Peso</span>
                <input type="text" class="form-control" placeholder="Peso" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1">IMC</span>
                <input type="text" class="form-control" placeholder="IMC" aria-label="Username"
                    aria-describedby="basic-addon1" disabled>
            </div>

            <label for="basic-url" class="form-label fw-bold">Presión sanguínea preferiblemente en el brazo derecho, si
                es imposible en este, se hace en el izquierdo </label>
            <div class="input-group mb-2">
                <span class="input-group-text me-1" id="basic-addon1">Presión sanguínea</span>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio1">Brazo izquierdo </label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">Brazo derecho</label>

                </div>
            </div>
            <app-paginator></app-paginator>
        </div>
    </div>
</div>