<div class="container mt-2">
    <div class="row">
        <div class="col">
            <label for="basic-url" class="form-label fw-bold">20.1 Diga a qué ritmo camina, al menos durante 10 minutos
                sin parar.</label>
            <div class="input-group mb-2">
                <span class="me-3" id="basic-addon1">Camina a ritmo muy lento </span>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio1">Si</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">No</label>

                </div>
            </div>
            <div class="input-group mb-2">
                <span class="me-3" id="basic-addon1">Camina a ritmo Lento </span>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio1">Si</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">No</label>

                </div>
            </div>
            <div class="input-group mb-2">
                <span class="me-3" id="basic-addon1">Camina a ritmo ligero </span>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio1">Si</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">No</label>

                </div>
            </div>
            <div class="input-group mb-2">
                <span class="me-3" id="basic-addon1">Camina a ritmo moderado </span>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio1">Si</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">No</label>

                </div>
            </div>
            <div class="input-group mb-2">
                <span class="me-3" id="basic-addon1">Camina a ritmo rápido </span>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio1">Si</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">No</label>

                </div>
            </div>
            <div class="input-group mb-2">
                <span class="me-3" id="basic-addon1">20.2 Cuántos días a la semana, camina al paso elegido, al menos
                    durante 10 minutos sin parar.</span>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio1">0</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">1</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio3">2</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio4">3</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio5">4</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio6" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio6">5</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio7" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio7">6</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio8" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio8">7</label>

                </div>
            </div>
            <div class="input-group mb-2">
                <span class="input-group-text" id="basic-addon1">20.3 En promedio, cuánto tiempo en total camina al ritmo elegido.</span>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                aria-describedby="basic-addon1" value="5353">
                <span class="input-group-text" id="basic-addon1">Minutos</span>
            </div>
            <label for="basic-url" class="form-label fw-bold">20.4 Piense, en una semana común y corriente durante el mes pasado.</label>
            <div class="input-group mb-2">

                <span class="input-group-text" id="basic-addon1">Con qué frecuencia y tiempo, hace actividades deportivas, recreativas o de ocio.</span>
                <app-activities></app-activities>
            </div>

            <app-paginator></app-paginator>
        </div>
    </div>
</div>