<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
    <input type="radio" class="btn-check" name="{{name}}" id="{{id}}1" autocomplete="off">
    <label class="btn btn-outline-primary" for="{{id}}1" (click)="setAnswer('many')">Muchos</label>

    <input type="radio" class="btn-check" name="{{name}}" id="{{id}}2" autocomplete="off">
    <label class="btn btn-outline-primary" for="{{id}}2" (click)="setAnswer('some')">Algunos</label>

    <input type="radio" class="btn-check" name="{{name}}" id="{{id}}3" autocomplete="off">
    <label class="btn btn-outline-primary" for="{{id}}3" (click)="setAnswer('noOne')">Ninguno</label>

    <input type="radio" class="btn-check" name="{{name}}" id="{{id}}4" autocomplete="off">
    <label class="btn btn-outline-primary" for="{{id}}4" (click)="setAnswer('doNotKnow')">No sabe</label>

</div>